* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

body {
    background-color: rgba(27, 22, 22, 0.185);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #222024;
    font-family: 'Fira Sans', sans-serif;
}

.container {
    background-color: white;
    width: 90%;
    height: 80%;

    border: none;
    border-radius: 15px;

    display: grid;
    grid-template-columns: 70% 30%;
}

.container :is(div,p,span,input){
    cursor: pointer;
}

.part-two {
    background-color: rgba(175, 161, 161, 0.185);
    border-radius: 0 15px 15px 0;
}

.header {
    display: grid;
    grid-template-columns: 60px 1fr 1fr;
    align-items: center;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
}

.search {
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.save {
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name {
    font-size: 1.2rem;
}

.display-none {
    display: none;
}

.input {
    border: none;
    font-size: 1rem;
    font-weight: 550;
    color: gray;
}

.date {
    display: flex;
    justify-content: center;
    align-items: center;
}

.part-one {
    display: grid;
    grid-template-rows: 10% 50% 40%;
}

.main {
    display: grid;
    grid-template-rows: 80%  20%;
    color: rgba(62, 58, 58, 0.824);
}

.temp {
    display: grid;
    grid-template-columns: 70% 30%;
}

.degree {
    font-size : 9vw;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 20px;
}

.description {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size : 150%;
}

.wind-humidity {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.wh {
    display: flex;
    text-align: center;
    align-items: center;

    position: relative;
    margin-bottom: 5px;
}

.tooltiptext {
    position: absolute;
    bottom: -5px;
    left: 45px;
    font-size: 80%;
    visibility: hidden;
    background-color: white;
    color: rgba(62, 58, 58, 0.769);
}

.wh:hover .tooltiptext {
    visibility: visible;
}

.info {
    padding-left: 5px;
}

.seven-days {
    display: flex;
    justify-content: center;
    align-items: center;
}

.days-container {
    width: 70%;
    height: 70%;
    display: grid;
    grid-template-columns: repeat(5 , 1fr);
    gap: 10px;
}

.day {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    text-align: start;
    color: rgba(62, 58, 58, 0.824);
}

.day:hover {
    border: 2px solid rgb(62, 58, 58, 0.762);
    border-radius: 20px;
}

.part-two {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 30% 50%;
}

.greet-time {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.greet {
    font-size: 20px;
}

.mini-temp {
    display: grid;
    grid-template-columns: 1fr;
}

.mini-degree {
    display: grid;
    grid-template-columns: 60% 40%;
}

.mini-degree-unit {
    font-size: 50px;
    color: rgba(62, 58, 58, 0.769);
    display: flex;
    align-items: center;
    justify-content: end;
}

.mini-whu > div {
    font-size: 13px;
}

.mini-descri {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.hourly {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hourly-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 9px;
    height: 90%;
    width: 80%;
}

.eachhour {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column ;
    color: rgba(62, 58, 58, 1);
    border: 2px solid rgba(62, 58, 58, 0.124);
    border-radius: 20px;
}

.hour {
    color: black;
}

.hour-temp {
    font-size: 20px;
}

.eachhour:hover {
    border:2px solid #222024;
}

@media (max-width: 600px){
    .container {
        display: grid;
        grid-template-columns : 1fr ;
        grid-template-rows: 1fr 1fr ;
}

    .header {
        display: grid;
        grid-template-columns: 60px 1fr 80px;
    }

    body {
        height: 1500px;
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    }

    .degree {
        font-size : 8vw;
        padding: 0px;
    }
    .part-two {
        border-radius : 0px 0px 15px 15px;
}
    
body::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
}
